# Store thumbnails file after uploading files
Thumbnails/
Uploads/
.idea/
# Store persistent db volume data for persistence
db
# Environment variable
.env
# Store db initialization
init_db
# Log
debug.log

/Collections/

/vendor/

php.ini

ErrorLog

**/Temp
