/*
TAMUCC COLOR GUIDES:
BLUE: #0067C5
GREEN: #007F3E
SILVER: #9EA2A4
*/
html,body{margin:0;padding: 0;overflow-y: hidden;overflow-x: hidden;}
html{
    min-width:600px;
}
body{
    background-color:#fff;
}

#header_logo{
    padding-bottom:10px;
}
/* Define how each icon button should look like */

#thetable
{
    width:100%;
    min-height:800px;
}
#thetable td{padding-top: 11px; padding-left: 1px;}

#thetable_left
{
    width: 230px;
    vertical-align: top;
    padding: 8px 8px 8px 8px;

}

#thetable_right
{
    width: 100%;
    vertical-align: top;
    background: #f1f1f1;

}


#divleft{float:left;
    width:20%;
    overflow-y:auto;
    overflow-x:hidden;

}
#divright{float:left;
    width:79%;
    overflow-y:hidden;
}
#divscroller {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2px;
}



#col1,#col2 {vertical-align: top;}


/* _______________________________________________________________________________________  */
/*Side menu classes */
/* Reference: https://designshack.net/articles/navigation/verticalaccordionav/ */

nav {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 15px 15px 40px 15px ;
    min-width: 300px;
    /*-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);*/
    /*-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);*/
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.2);*/
}

.menu-item {
    background: #fff;
    width: 240px;
}

/*Menu Header Styles*/
.menu-item h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 12px;
    margin: 0;
}

.menu-item h4 a {
    color: white;
    display: block;
    text-decoration: none;
    width: 200px;
}

/*Menu Header Styles*/
.menu-item h4 {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 12px;

    /*Gradient*/
    background: rgba(0,103,197,1);
    background: -moz-linear-gradient(left, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,103,197,1)), color-stop(91%, rgba(0,103,197,0.89)), color-stop(100%, rgba(0,103,197,0.89)));
    background: -webkit-linear-gradient(left, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
    background: -o-linear-gradient(left, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
    background: -ms-linear-gradient(left, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
    background: linear-gradient(to right, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067c5', endColorstr='#0067c5', GradientType=1 );
}

.menu-item h4:hover {
    background: rgba(0,127,62,1);
    background: -moz-linear-gradient(left, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,127,62,1)), color-stop(14%, rgba(0,127,62,0.89)), color-stop(100%, rgba(0,127,62,0.89)));
    background: -webkit-linear-gradient(left, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    background: -o-linear-gradient(left, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    background: -ms-linear-gradient(left, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    background: linear-gradient(to right, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f3e', endColorstr='#007f3e', GradientType=1 );
}

/*First Item Styles*/
.alpha p {
    font-size: 13px;
    padding: 8px 12px;
    color: #aaa;
}
/*ul Styles*/
.menu-item ul {
    background: #fff;
    font-size: 13px;
    line-height: 30px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin:0;
}

.menu-item ul a {
    margin-left: 20px;
    text-decoration: none;
    color: #0067C5;
    display: block;
    width: 200px;
}

/*li Styles*/
.menu-item li {
    border-bottom: 1px solid #eee;
}

.menu-item li:hover {
    background: #00BC65;
}

/*ul Styles*/
.menu-item ul {
    background: #fff;
    font-size: 13px;
    line-height: 30px;
    height: 0px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;

    /*Animation*/
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}
/* Adjust height of submenu depends on number of submenu items: .menu-item_subN (N = number of submenu items) */

.menu-item:hover ul {
    height:auto;
    transition-delay:.35s;
}
.menu-item_sub2:hover ul {
    height:65px !important;
}
.menu-item_sub3:hover ul {
    height:95px !important;
}
.menu-item_sub4:hover ul {
    height:125px !important;
}
.menu-item_sub5:hover ul {
    height:158px !important;
}
/* _______________________________________________________________________________________  */
/*Container classes */

/*Default Container*/
.container
{
    margin-right:20px;
    padding:0px;
    height:100%;
}

.container > div{
    padding: 5px 1px 5px 1px;
    border-radius: 2px;
}

/* _______________________________________________________________________________________  */
/*utility classes */
.unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nowrap
{
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Mostly use for asterisk (required field)*/
.required
{
    color: red;
}

/*end utility classes */

/* _______________________________________________________________________________________  */
/* Button classes*/
.button
{
    margin: 10px;
    text-decoration: none;
    font: 1em 'PT Sans Narrow', sans-serif; /*Change the em value to scale the button*/
    display: inline-block;
    text-align: center;
    color: #fff;

    border: 1px solid #9c9c9c; /* Fallback style */
    border: 1px solid rgba(0, 0, 0, 0.3);

    text-shadow: 0 1px 0 rgba(0,0,0,0.4);

    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);

}

.button, .button span
{
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.button span
{
    border-top: 1px solid #fff; /* Fallback style */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0.5em 2.5em;

    /* The background pattern */

    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
    -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
    -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
    -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);

    /* Pattern settings */

    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
    background-size: 3px 3px;
}

.button:hover
{
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);

}

.button:active
{
    /* When pressed, move it down 1px */
    position: relative;
    top: 1px;
}

.button-blue
{
    background: #4477a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
    background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
}

.button-blue:hover
{
    background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
    background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#81a8cb');
}

.button-blue:active
{
    background: #4477a1;
}


/*___________________________________*/
/* Background color: green */
.bluebtn{
    font-size: 1em;
    padding: 10px 10px 10px 10px;
    border-radius:10px;
    color:#ffffff;
    background: rgba(0,103,197,1);
    background: -moz-linear-gradient(left, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,103,197,1)), color-stop(91%, rgba(0,103,197,0.89)), color-stop(100%, rgba(0,103,197,0.89)));
    background: -webkit-linear-gradient(left, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
    background: -o-linear-gradient(left, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
    background: -ms-linear-gradient(left, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
    background: linear-gradient(to right, rgba(0,103,197,1) 0%, rgba(0,103,197,0.89) 91%, rgba(0,103,197,0.89) 100%);
}

.bluebtn:hover{
    color:#ffffff;
    border-style: inset;
    background: rgba(0,127,62,1);
    background: -moz-linear-gradient(left, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,127,62,1)), color-stop(14%, rgba(0,127,62,0.89)), color-stop(100%, rgba(0,127,62,0.89)));
    background: -webkit-linear-gradient(left, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    background: -o-linear-gradient(left, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    background: -ms-linear-gradient(left, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    background: linear-gradient(to right, rgba(0,127,62,1) 0%, rgba(0,127,62,0.89) 14%, rgba(0,127,62,0.89) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f3e', endColorstr='#007f3e', GradientType=1 );
}
.bluebtn:disabled{
    box-shadow: 0px 10px 14px -7px #3e7327;
    background-color: #0067C5;
    border-radius: 16px;
    color: #ffffff;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}
/* End Button classes*/
/* _______________________________________________________________________________________  */


/*scrollbar style */
::-webkit-scrollbar {
    width: 5px;
}
#divscroller::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
#divscroller::-webkit-scrollbar-thumb {

   background-color: #0099FF;
}
::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {

    background-color: transparent;
}
#divscroller::-webkit-scrollbar-thumb:hover {
    background-color: #73a55b;
}





/* end scrollbar style */
/* _______________________________________________________________________________________  */
/*table styles */
.tbl{border-collapse: collapse;width:100%;color:#474E53;overflow-x:scroll;}
.tbl tr, .tbl th, .tbl td{border:1px solid #D9E5F1;padding: 10px;}
.tbl thead{}
.tbl tbody{overflow-y:scroll;}
.tbl tfoot{}
.tbl tr{}
.tbl th{color:#FFFFFF;background-color: #0099FF;}
.tbl td{}
.tbl tr:nth-child(odd){background-color:#FFFFFF;}
.tbl tr:nth-child(even){background-color:#D9E5F1;}

/* end table styles*/
/* _______________________________________________________________________________________  */

/* loader */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin:auto;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}


/* end loader */
/* _______________________________________________________________________________________  */


/* Font Styles */
h2
{
    background: #0067C5;
    color:white;
    /*font-family:"DigifaceWide";*/
    text-align: center;
    font-weight:bold;
    margin: 10px;
    font-size: 30px;
}

/* End Font Styles */
/* _______________________________________________________________________________________  */


form {

    margin-left: 4px;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

footer{
    position: absolute;
    right: 0px;
    bottom: 0;
    left: 0;
    padding: .4em;
    background-color: #efefef;
    clear:both;
}

footer a{
    text-decoration: none;
    color: #000;
}
#footer a:hover{color: white !important;}
footer a:hover
{
    text-decoration: underline;
    color: #007F3E;
}

.disabledClass{
    box-shadow: 0px 10px 14px -7px #3e7327;
    background-color: #0067C5;
    border-radius: 16px;
    color: #ffffff;
    padding-top:3%;
    width: 100%;
    height: 2.1em;
    font-size: 63%;
    margin:0px;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */

}

/*Map Collections Stylesheet*/
.Collection{
    border-radius: 2%;
    box-shadow: 0px 0px 2px;
}

.Collection_Table{
    background-color: white;
    padding: 3%;
    border-radius: 6%;
    box-shadow: 0px 0px 2px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 9%;
    margin-bottom: 9%;
}

.Collection_Table .Collection_Title{
    margin-top: 2px;
    margin-bottom: 12px;
    color: #008852;
}

.Collection_Table .Collection_data{
    width: 50%;
}

.Collection_Table .Collection_Button {
    box-shadow: 0px 10px 14px -7px #3e7327;
    background-color: #0067C5;
    border-radius: 16px;
    color: #ffffff;
    padding-top:3%;
    width: 100%;
    height: 2.1em;
    font-size: 63%;
    margin:0px;

}
.Collection_Table .Collection_Button:hover {
    background-color:  #007F3E;
}
.Collection_Table .Collection_Button:active {
     position:relative;
     top:1px;
 }
.Collection_Table .Collection_Button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


/* Styles for jqueryUI dialog box showing on the bottom left of review page on Admin View */
/*******************************************/
#documentHistory table { border-collapse: collapse; text-align: left; width: 100%;padding-left:2px; }
#documentHistory {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
#documentHistory table td, #documentHistory table th { padding: 3px 10px; }
#documentHistory table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 13px; font-weight: bold; border-left: 1px solid #0070A8; }
#documentHistory table tbody td { color: #001326; border-left: 1px solid #E1EEF4;font-size: 11.56px;font-weight: normal; }
#documentHistory table tbody tr:hover { background-color: #bce1ff; }
div#dhtmlx_window_active, div#dhx_modal_cover_dv { position: fixed !important; }
#timeStamp{
    font-size: 12px;
}


.notificationBadge {

    min-width:20px;
    min-height:20px;
    padding: 3px;
    border-radius:10px;
    vertical-align: sub;
}
.notificationBadge[data-badge]:after {
    content:attr(data-badge);
    position:relative;
    vertical-align: top;
    font-size:.75em;
    padding: 2px;
    background:red;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
}
/*********Tabs for the statistics page*************************/

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}